{% extends "main/basesocialaccount.html" %}

{% block content %}

	<!-- BEGIN LOGIN FORM -->
	<form class="login-form" action="{% url 'main:login' %}" method="post">
	{% csrf_token %}
		<div class="form-title">
			<span class="form-title">Welcome.</span>
			<span class="form-subtitle">Please login.</span>
		</div>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>
			Enter any username and password. </span>
		</div>
		{% if login_error_code %}
			{% if login_error_code == 1 %}
				The username and password were incorrect.
			{% elif login_error_code == 2 %}
				The account has been disabled!
			{% endif %}
		{% endif %}
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" required/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" required/>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary btn-block uppercase" name="login">Login</button>
		</div>
		
		<div class="login-options">
			<h4 class="pull-left">Or login with</h4>
			<ul class="social-icons pull-right">
				<li>
					<a class="social-icon-color facebook" data-original-title="facebook" href="{% url 'social:begin' 'facebook' %}"></a>
				</li>
				
			</ul>
		</div>
		<div class="create-account">
			<p>
				<a href="{% url 'main:signup' %}" id="register-btn">Create an account</a>
			</p>
		</div>
	</form>

{% endblock %}