{% extends "main/basesocialaccount.html" %}

{% block content %}
<!-- BEGIN FORGOT PASSWORD FORM -->
<form class="login-form" action="index.html" method="post">


	<div class="form-title">
		<span class="form-title">Forget Password ?</span>
		<span class="form-subtitle">Enter your e-mail to reset it.</span>
	</div>
	<div class="form-group">
		<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
	</div>
	<div class="form-actions">
		<button type="button" onclick="location.href = '{% url 'main:login' %} ';" id="back-btn" class="btn btn-default">Back</button>
		<button type="submit" class="btn btn-primary uppercase pull-right">Submit</button>
	</div>
</form>
	<!-- END FORGOT PASSWORD FORM -->
{% endblock %}