{% extends "main/basesocialaccount.html" %}

{% block content %}	

	<!-- BEGIN REGISTRATION FORM -->
	<form class="login-form" action="{% url 'main:signup' %}" method="post">
	{% csrf_token %}
		<div class="form-title">
			<span class="form-title">Sign Up</span>
		</div>	
		<p class="hint">
			 Enter your personal details below:
		</p>
		{{ user_form.non_field_errors }}
		<div class="form-group">
			{{ user_form.first_name.errors }}
			<label class="control-label visible-ie8 visible-ie9">First Name</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="First Name" name="first_name" value="{{user_form.first_name.value|default_if_none:''}}" required/>
		</div>
		<div class="form-group">
			{{ user_form.last_name.errors }}
			<label class="control-label visible-ie8 visible-ie9">Last Name</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Last Name" name="last_name" value="{{user_form.last_name.value|default_if_none:''}}" required/>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			{{ user_form.email.errors }}
			<label class="control-label visible-ie8 visible-ie9">Email</label>
			<input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" value="{{user_form.email.value|default_if_none:''}}" required/>
		</div>
		
		<p class="hint">
			 Enter your account details below:
		</p>
		<div class="form-group">
			{{ user_form.username.errors }}
			<label class="control-label visible-ie8 visible-ie9">Username</label>
			<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" value="{{user_form.username.value|default_if_none:''}}" required/>
		</div>
		<div class="form-group">
			{% if not pass_validator %}
				Pass do not match
			{% endif %}
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password" required/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
			<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword" required/>
		</div>
		<div class="form-actions">
			<button type="button" onclick="location.href = '{% url 'main:login' %} ';" id="register-back-btn" class="btn btn-default">Back</button>
			<button type="submit" id="register-submit-btn" class="btn btn-primary uppercase pull-right" name="submit_register">Submit</button>
		</div>
	</form>
	<!-- END REGISTRATION FORM -->

{% endblock %}